body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;

}

header {
    background: #252B3A;
    color: #c4cbdb;
    padding: 30px;
    font-size: 2em;
    text-align: center;
}

.search--container {
    margin: 0 auto;
    padding: 35px 10px 25px;
    max-width: 600px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search--container input#search {
    width: 100%;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 1em;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: left;
}

.search--container input#search::-webkit-input-placeholder {
   color: #65737e;
   font-size: 1.2em;
}
 
.search--container input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
   font-size: 1.2em;  
}
 
.search--container input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
   font-size: 1.2em;  
}
 
.search--container input#search:-ms-input-placeholder {  
   color: #65737e;
   font-size: 1.2em; 
}

.search--container .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 18px;
    z-index: 1;
    color: #4f5b66;
}

.search--container input#search:focus, .search--container input#search:active{
  outline:none;
}
 
.search--container:hover .icon{
  color: #93a2ad;
}

#currencies {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 50px auto;  
}

.currency {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    font-size: 1.5em;
    margin:10px;
    background-color: #252B3A;
    color: #65737E;
    display: flex;
    text-align: center;
    cursor: pointer;
    transition: open 2s ease-in;
    animation: open 0.5s;
    border-radius: 5px; 
}

.error {
    margin: 2.5em auto;
    color: #4f5b66;
    animation: fadeIn .9s ease-in;
}

.error--icon {
    font-size: 8em;
    display: block;
    text-align: center;
}
.error--message {
    font-size: 1em;
    text-align: center;
    margin-top: 1em;
    font-style: italic;
}

.error--popup {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5em 2.5em;
    margin: .5em;
    color: #fff;
    background: #6B3232;
    animation: slideFadeIn 0.5s ease-in-out;
    transition: all 5s ease-in-out;
}

.error--popup.out {
    opacity: 0;
    margin-bottom: -99px;
    animation: slideFadeOut 0.5s ease-in-out;

}

.converter {
    order: -1;
    flex-grow: 10;
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: 400px;
    /*position: absolute;*/
    background-color: white;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    /*box-shadow: 0px 5px 10px rgba(0,0,0, 0.4);*/
    transition: open 1s ease-in;
    animation: fadeIn 1s;
}

.form-group,
.input-group{
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

}

.input-group input{
    width: 100%;
    height: 50px;
/*    background: #657377;*/    
    font-size: .8em;
    float: left;
    color: #2B303B;
    /*padding-left: 45px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    border-color: #2B303B;
    text-align: center;
    outline: 0;

}
.form-control:focus, .form-control:focus + span .btn{
    border-color: #2B303B;
    box-shadow:none;
}
.input-group input:disabled {
    background: #fff;
}

.input-group-addon {
    background: #2b303b;
    border-radius: 5px;
    width: 50px;
    font-size: 0.6em;
    border-color: #2B303B;
    color: #65737E;
}

input {
    text-align: center;
}

@media(max-width: 540px) {
    .currency {
        height: 200px;
        width: 200px;
    }
}

@media(max-width: 470px) {
    .currency {
        flex-grow: 2;
        height: 150px;
        width: 150px;
    }
}

@media(max-width: 470px) {
    .currency {
        flex-grow: 2;
        height: 100px;
        width: 100%;
    }
}


@keyframes open {
    from {
        transform: rotateY(270deg);
        background-color: #252B3A;
        color: #c4cbdb;
    }
    to {
        transform: rotateY(360deg);
        background-color: #c4cbdb
        color: #252B3A;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        margin-bottom: -99px;
    }

    to {
        opacity: 1;
        margin-bottom: .5em;
    }
}

@keyframes slideFadeOut {
    from {
        opacity: 1;
        margin-bottom: .5em;
    }

    to {
        opacity: 0;
        margin-bottom: -99px;
    }
}