<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<header>
    Currency converter
</header>

<div class="container">
    <div class="search--container">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..."></input>
    </div>
    <div id="currencies"></div>
</div>

<script id="currency" type="text/x-handlebars-template">
    <div class="currency" data-value={{ value }} data-currency={{ shortName }} >
        {{ shortName }}
    </div>
</script>

<script id="converter" type="text/x-handlebars-template">
<div class="converter">
    <form>
        <h1>{{ shortName }}</h1>
        <div class="form-group">
            <div class="input-group">
                <span class="fa fa-{{ lowerCase shortName }} input-group-addon"></span>
                <input type="text" class="form-control" id="input"/>
            </div>   
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">kr</span>
                <input type="text" class="form-control" data-value="{{ value }}" id="output" disabled/>
            </div>
        </div>
    </form>

    <button id="back" class="btn btn-default">Back home</button>
</div>
</script>

<script id="error-popup" type="text/x-handlebars-template">
<div class="error--popup" id="popup-error">
    {{ message }}
</div>
</script>

<script id="error" type="text/x-handlebars-template">

<div class="error">
    <i class="error--icon fa fa-exclamation-circle"></i>
    <p class="error--message">{{ message }}</p>
</div>
</script>
<body>
<script src="libs/handlebars-v4.0.2.js"></script>
<script src="js/ajax.js"></script>
<script src="js/converter.js"></script>
<script src="js/app.js"></script>
</body>
</html>